.cloud-container {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.cloud-column {
    margin: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cloud-img {
    max-width: 20%;
}

/* .cloud-column>span:hover {
    background-color: #4f45e4;
    color: white;
} */