.footer {
    padding: 2px 0px;
    text-align: center;
}

.footer .frow {
    width: 100%;
    margin: 1% 0%;
    color: gray;
    font-size: 0.8em;
    font-weight: 450;
}

.footer .frow a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .frow a:hover {
    color: #fff;
}

.footer .frow a i {
    font-size: 2em;
    margin: 0% 1%;
}

